.user-form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.user-form .form-group:nth-child(1) {
  grid-column: span 2;
}
.user-form .form-group:nth-child(2) {
  grid-column: span 2;
}
.user-form .form-group:nth-child(3) {
  grid-column: span 2;
}
.user-form .form-group:nth-child(4) {
  grid-column: span 2;
}

.user-form .form-actions {
  grid-column: 1 / -1;
}

.status-ativo {
  color: #5cb85c;
  font-weight: bold;
}

.status-inativo {
  color: #777;
}